$color-light: white;

$color-main-dark:  #003342;
$color-main:       #00C1F7;
$color-main-light: #E8F4F7;

$color-red:    #D56363;
$color-yellow: #FFD248;
$color-green:  #9DC75A;

$color-teblet: #3c3c3c;
$color-tablet-screen: #426670;
